.GuildInfoContainer {
    border: rgb(66, 24, 100) 1px solid;
    border-radius: 10px;
    margin: 20px 15px;
    padding: 30px 15px;
    text-align: center;
    background-color: rgb(72, 59, 112);
    max-height:50vh;
}

.GuildInfoIcon {
    display: block;
    margin: 0px auto 20px auto;
    border-radius: 50%;
    border: 3px rgb(97, 192, 255) solid;
}

.GuildInfoName {
    color: white;
    font-family: 'Orbitron', sans-serif;
}

.GuildInfoMembers {
    color: rgb(165, 147, 199);
    font-family: 'Quicksand', sans-serif;
}

.GuildInfoDetails {
    text-align: left;
    padding: 20px 0 0 0;
    color: white;
    font-family: 'Quicksand', sans-serif;
}