.SuggestionEntry {
    background-color: rgb(66, 53, 104);
    border-bottom: rgb(66, 24, 100) 1px solid;
    color: white;
    font-family: 'Quicksand', sans-serif;
    padding: 10px;
}

.SuggestionEntry:hover {
    background-color: rgb(82, 67, 126);
    cursor: pointer;
}

.SuggestionPoster {
    max-height: 100px;
    display: block;
}

.SuggestionTitle {
    font-size: 1.5rem;
    display: inline;
}

.SuggestionRating {
    float: right;
}